/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* ! Small CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ? without this the padding and border gets added to the total height/width of an element.*/
}

body {
    font: 400 16px/1.7 "Lato", sans-serif;
    /* color: #777777; */
    color: white;
    padding: 20px;
    background-color: rgb(49, 145, 255);
    background-size: cover;
    background-position: top;
}

.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(212, 92, 152, 0.666), 
        rgba(49, 145, 255, 0.666)), 
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 66%, 0 100%);
    /* https://bennettfeely.com/clippy/ for a clip-path GUI */
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
    
}